html,body{height:100%; width:100%; box-sizing: border-box;  }
*{margin:0; padding:0; box-sizing: border-box;}
body{font-family: 'Roboto'; height: 100%; width: 100%; }
img, fieldset{border:none;}
a:focus{outline:none; box-shadow: none;} 
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited { text-decoration: none;}
ul,ol{ margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6 , p{ font-weight:normal; margin-top:0; }
.fw{ float:left; width:100%;}
.no-pad{ padding:0 !important;}
.no-pad-left{ padding-left:0 !important;}
.no-pad-right{ padding-right:0 !important;}
figure{margin: 0; padding: 0;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
input,select,textarea{outline: none !important;}
.toggle-menu{display: none;}
::-webkit-scrollbar {
    width: 15px;
}
::-ms-scrollbar {
    width: 15px;
}
::-moz-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #ff8e0a;
}
::-ms-scrollbar-track {
    background: #ff8e0a;
}
::-moz-scrollbar-track {
    background: #ff8e0a;
}
::-webkit-scrollbar-thumb {
    background:#2886ba;
}
::-ms-scrollbar-thumb {
    background: #2886ba;
}
::-moz-scrollbar-thumb {
    background: #2886ba;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;

}
.shopholic-admin {
    float: left;
    width: 100%;
    padding: 105px 0 50px;
    background-image: linear-gradient(to right, #2B237C , #180D5B);
    min-height: 100vh;
    
}

.col-md-6.img-bar img{
    width: 100%;
    height: 450px;
}
.form-box figure{
    float: left;
    width: 100%;
}
.form-box img{
    margin-bottom: 60px;   
}
.col-md-12.form-box {
    width: 70%;
    float: right;
    text-align: center;
    padding:45px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 80px;
}
.form-box h3 {
    font-size: 24px;
    letter-spacing: .32px;
    line-height: 25px;
    color: #232323;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 30px;
}
.form-box .form-group button {
    margin-top: 25px;
}
.form-group .bg-color {
    background-color: #FF8E0A;
    border: none;
    padding: 8px 20px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 35%);
    font-size: 14px;
    letter-spacing: .5px;
    min-width: 120px;
}
.form-group a{
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}
.form-group .text-color{
    font-size: 14px;
    letter-spacing: .15px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}
.form-group .text-color::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #00000099;
    }
    .form-group .text-color::-moz-placeholder { /* Firefox 19+ */
    color: #00000099;
    }
    .form-group .text-color:-ms-input-placeholder { /* IE 10+ */
    color: #00000099;
    }
    .form-group .text-color:-moz-placeholder { /* Firefox 18- */
    color: #00000099;
    }   

/*-------------notifications.css-------------*/


.logo-sec li{
    display: inline-block;
   padding: 0 15px;
}
header {
    float: left;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    position: relative;
    z-index: 99;
    background: #fff;
}
.head-box{
    float: left;
    width: 100%;
   margin-top: 5px;
}
.logo-sec ul{
    margin: 0;
}
.pra-sec{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 20px;
}
.pra-sec p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .12px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000DE;
}
.dashboard{
    float: left;
    width: 100%;
}
.notification {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px #00000029;
    display: inline-block;
}
.notification h3 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000DE;
    padding-bottom: 20px;
    margin-top: 15px;
}
.notification  .col-md-12.heading-sec {
    margin: 20px 0;
   
}
.heading-sec p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .24px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000DE;
}
.heading-sec small{
    float: right;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .12px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FF8E0Aed;
}
.heading-sec span {
    background-color: #FF8E0Aed;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 4px 5px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
}
.heading-sec h4{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .14px;
    font-family: 'Roboto';
    font-weight: 700;
}
/*-----------edit-bank-details--------*/
.box-sec p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .12px;
    padding-top: 20px;
    padding-left: 40px;
}
.col-md-12 .box.sec{
    float: left;
    width: 100%;
    
}
.details {
    width: 550px;
    margin: 0 auto;
    padding-top: 30px;
}
.details h3 {
    font-size: 28px;
    line-height: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000DE;
    margin-left: 15px;
    padding-bottom: 40px;
}
.details input .text-color{
   font-size: 16px;
   letter-spacing: .15px;
   line-height: 24px;
   font-family: 'Roboto';
   font-weight: 400;
}
.heading-box-sec{
    float: left;
    width: 100%;
}

/*-------merchants.css-------*/

.side-bar {
    float: left;
    width: 230px;
    min-height: 100vh;
    padding: 0 20px;
    margin-top: 0;
    background-color: white;
    box-shadow: -3px 0px 8px rgb(0 0 0 / 24%);
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
}
.side-bar li {
    border-radius: 5px;
    list-style: none;
    padding: 0;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

      .side-bar a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .15px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000;
    padding: 0 10px;
    text-decoration: none;
}
.abc{
    margin: 10px 0;
  }
  .Merchants-sec {
    background-color: #E8E8E8;
    float: right;
    width: calc(100% - 230px);
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 40px;
}
.Merchants-sec .heading-full h3 {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: .24px;
    font-family: 'Roboto';
    font-weight: 400;
   
}




.col-md-5.select-box {
    float: left;
    width: 41.66666667%;
}

select{
  float: left;
  width: 100%;
}

.select-box select {
    word-wrap: normal;
    background-color: #E8E8E8;
    height: 35px;
    width: 100%;
}

.Merchants-sec th {
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 24px;
    color: #0000009c;
    font-family: 'Roboto';
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
th.order-tracking {
    min-width: 500px;
}

.Merchants-sec td {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .15px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000;
    word-break: break-all;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.Merchants-sec table{
  margin-top: 20px;
  background-color: #fff;
  padding: 0 10px;
}




.Merchants-sec.invoice-tem {
    padding: 20px 100px;
}
.white-boxbg table img[alt="circle"] {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.version-text span {
    font-size: 16px;
    color: #FF8E0A;
    letter-spacing: .12px;
    line-height: 24px;
    width: 150px;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
}

.col-md-12.invoice-sec {
    float: left;
    width: 100%;
}
.invoice-sec .blc{
  color: #000;
  font-size: 16px;
  letter-spacing: .18px;
  line-height: 24px;
  font-family: 'Roboto';
    font-weight: 400;
}  
.my-account {
    float: left;
    width: 100%;
    margin-top: 18px;
    
}
.update-password-box{
  width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  margin-bottom: 50px;
}
.cherry-blossom{
  width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  padding-bottom: 50px;
}
.cherry-box {
    float: left;
    width: 100%;
    text-align: center;
    
}
.cherry-box h4 {
    font-size: 18px;
    letter-spacing: .18px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400; 
}
.cherry-box p {
    font-size: 14px;
    letter-spacing: .14px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400; 
}
.bank-details {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.bank-name {
    float: left;
    width: 100%;
    
}
.bank-name span {
    font-size: 14px;
    color: #FF8E0A;
    letter-spacing: .12px;
    line-height: 24px;
    width: 150px;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
}
.bank-name .abcd-bank{
  color: #000;
  font-size: 14px;
  letter-spacing: .18px;
  line-height: 24px;
  font-family: 'Roboto';
    font-weight: 400;
}
.bank-details p{
  font-size: 18px;
    color: #FF8E0A;
    letter-spacing: .12px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}
.col-md-12.update-password {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.form-sec-update {
    float: left;
    width: 550px;
    margin: 0 auto;
    margin-top: 25px;
}
.col-md-12.save-btn.text-center {
    padding-top: 30px;
}

/*------------------add-new-category----------*/
.col-md-4.socical-img.text-right {
    float: left;
    width: 100%;
}
.add-new{
    background-color: #767171;
    padding: 140px 0;
}
.category{
    width: 400px;
    margin: 0 auto;
    padding: 30px 15px;
    background-color:#fff;
}
.add-new-category{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.add-new-category h3 {
font-size: 18px;
letter-spacing: .18px;
line-height: 20px;
font-family: 'Roboto';
font-weight: 400;
color: #000;
}
.col-md-12.add-form {
padding: 20px 60px;
}
.btn-sec{
padding-top: 0px;
}
.add-form p {
    font-size: 12px;
    letter-spacing: .15px;
    line-height: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000;
}
.add-form span {
    color: #000;
    font-weight: 600;
    font-family: 'Roboto';
}



.category-box{
    width: 450px;
  }
  i.fa.fa-plus-circle.bg-green {
color: #05C46B;
padding-right: 10px;
}
.Merchants-sec td span {
padding-right: 20px;
color: rgb(0 0 0 / 55%);
font-size: 14px;
letter-spacing: .13px;
line-height: 20px;
font-family: 'Roboto';
font-weight: 400;
cursor: pointer;
display: inline-block;
    vertical-align: middle;
}
i.fa.fa-pencil.bg-orange {
color: #FF8E0A;
padding-right: 10px;
}
i.fa.fa-plus-square.bg-gra {
padding-right: 10px;
color: #78909C;
}
td.kids-right {
padding-left: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    vertical-align: middle;
    margin-top: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.Merchants-sec .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E8E8E8;
  -webkit-transition: .4s;
  transition: .4s;
}
.Merchants-sec .slider:before {
    position: absolute;
    content: "";
    content: "\2714";
    height: 15px;
    font-size: 10px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: #05C46B;
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    line-height: 15px;
}

.Merchants-sec input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.Merchants-sec .slider.round {
  border-radius: 34px;
}

.Merchants-sec .slider.round:before {
  border-radius: 50%;
}
.form-group .btn-section{
    background-color: #FF8E0A;
    border: none;
    padding: 5px 20px;
    box-shadow: 0 4px 6px #00000029;
}
th.category-box.email-box {
    width: 600px;
    
}
.text-color-red{
  color: #FF0000;
}

i.fa.fa-trash-o.bg-delete {
    color: red;
    padding-right: 10px;
   
}
th.commission {
    text-align: right;    
}
td.right-text-bar {
    text-align: right;
}



/*--------dashboard css---------*/
.samll-container {
    padding: 0px 100px;
}

.new-user {
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 11px 20px;
    border-radius: 5px;
    
}
.col-md-7.socical-box {
    margin-top: 17px;
    padding: 0px 5px 0 5px;
}
.col-md-7.socical-box p {
    font-size: 15px;
    color: #fff;
    line-height: 24px;
    letter-spacing: .25px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 0;
}

span.text-number {
    font-size: 28px;
    color: #fff;
    letter-spacing: .24px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400; 
}

.new-user-bg{
    background-image: linear-gradient(to right, #d79300, #bc7904, #a06005, #844905, #673403);
}
.new-merchant{
    background-image: linear-gradient(to right, #fc67b6, #e863c8, #cc63d9, #a667e9, #6e6df5);
}
.total-order{
    background-image: linear-gradient(to right, #009cfe, #2884e1, #336dc4, #3657a7, #34428b);
}
.delivered{
       background-image: linear-gradient(to right, #ff9d0e, #fc890a, #f9740e, #f45f14, #ee461b);
}
.cancelled{
    background-image: linear-gradient(to right, #ee0148, #d60056, #ba005f, #9c0065, #7b0265);
}
.total-sale-bg{
    background-image: linear-gradient(to right, #a2e912, #75bf14, #4c9711, #27700a, #014a03);
}
.form-box .form-group .form-control {
    height: 42px;
    border: 1px solid rgb(0 0 0 / 12%);
    outline: none !important;
    color: #000;
    box-shadow: none !important;
    font-family: 'Roboto';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
}
.form-box .form-group .form-control:focus{border-color: #FF8E0A;}
.form-box .form-group{position: relative; height: 45px; width: 100%;}
.form-box .form-group label {
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 14px;
    transition: 0.6s;
    font-family: sans-serif;
    margin: 0;
    transition: all .5s ease .0s;
    -webkit-transition: all .5s ease .0s;
    -ms-transition: all .5s ease .0s;
    -moz-transition: all .5s ease .0s;
    padding: 0 5px;
    font-weight: 400;
}
.form-box .form-group.inputs--filled label {
    top: -9px;
    background: #fff;
    z-index: 99;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
}
.form-box .form-group.inputs--filled .form-control {
    border-color: #FF8E0A;
}
.Merchants-sec .select-box #name {
    background: #dbdbdb;
    border: 1px solid rgb(0 0 0 / 2%);
    padding: 0 8px;
    font-size: 14px;
    letter-spacing: .8px;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/caret-down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 9px;
}

.Merchants-sec .Reports h4 {
    font-size: 14px;
    color: #000;
    letter-spacing: .5px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.Merchants-sec .form-group {
    margin: 0;
}
.Merchants-sec  .bg-color {
    background: transparent;
    border: 1px solid #FF8E0A;
    box-shadow: none;
    color: #FF8E0A;
    transition: all .5s ease .0s;
    -webkit-transition: all .5s ease .0s;
    -ms-transition: all .5s ease .0s;
    -moz-transition: all .5s ease .0s;
}
.Merchants-sec  .bg-color:hover{
    background-color: #FF8E0A;
    color: #fff;
}
.col-md-12.head-box {
    margin: 0;
}
.head-box .head a {
    display: inline-block;
    vertical-align: top;
}
.side-bar .sidebar-menu {
    margin: 0;
    padding-top: 50px;
    float: left;
    width: 100%;
    list-style: none;
}
.side-bar li a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: .2px;
    transition: all .5s ease .0s;
    -webkit-transition: all .5s ease .0s;
    -ms-transition: all .5s ease .0s;
    -moz-transition: all .5s ease .0s;
}
.side-bar li a:hover , .side-bar li.active a{background-color: #FF8E0A; color: #fff;}
.white-boxbg {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    margin-top: 30px;
    min-height: 80vh;
}
.Merchants-sec .Reports .form-group {
    width: 145px;
    display: inline-block;
    margin: 0 20px;
}
.Merchants-sec .Reports .form-group.mr-left0 {
    margin-right: 0;
}
.Merchants-sec .Reports .form-group input {
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    padding-right: 5px;
    background: rgb(0 0 0 / 4%) !important;
    padding-left: 8px;
}
.white-boxbg table {
    margin-top: 2px;
}
.dashboard-wapper {
    float: left;
    width: 100%;
    position: relative;
}
.logo-sec .admin-login > a {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 100px;
    vertical-align: middle;
}
.logo-sec .admin-login > a img {
    width: 100%;
}
.admin-login{position: relative;}
.admin-login .dropdown {
    position: absolute;
    width: 108px;
    right: 10px;
    top: 50px;
    background: #fff;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    display: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 8%);
    
}
.admin-login .dropdown li {
    padding: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}
.admin-login .dropdown li a {
    width: 100%;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #eee;
    transition: all .5s ease .0s;
    -webkit-transition: all .5s ease .0s;
    -ms-transition: all .5s ease .0s;
    -moz-transition: all .5s ease .0s;
}
.admin-login .dropdown li a:hover{color: #FF0000DE;}
.logo-sec li {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    padding-right: 8px;
}
.head-box .text-right {
    padding-right: 0;
    padding-top: 6px;
}
.admin-dropdopen .dropdown {
    display: block;
}
.logo-sec li .fa-bell-o {
    position: relative;
    margin-right: 20px;
    font-size: 22px;
    color: #000;
}
.logo-sec li .fa-bell-o span {
    position: absolute;
    top: -7px;
    font-size: 8px;
    width: 16px;
    height: 16px;
    background: #ff8e0a;
    color: #fff;
    text-align: center;
    line-height: 16px;
    right: -5px;
    display: inline-block;
    border-radius: 100px;
    padding: 0;
}
.search-bar{padding-left: 0;}
.search-bar .form-group input {
    border: 1px solid #ff8e0a;
    box-shadow: none;
    background: #fff;
    color: #000;
    height: 40px;
    font-size: 15px;
    background-image: url(../images/search-icon-org.png);
    background-repeat: no-repeat;
    background-position: 96.5% center;
    background-size: 18px;
    padding-right: 35px;
}
.merchantspg table td:nth-child(2) {
    width: 290px;
}
.switch.deactive .slider::before {
    content: "\00D7";
    background: red;
    font-size: 13px;
}
.Merchants-sec .extrapad-wapper {
    padding: 0 45px 0 20px;
}
.Merchants-sec td .delete-icon {
    float: right;
    font-size: 14px;
    color: #FF3F34;
    padding-left: 10px;
}
.Merchants-sec .bg-color.export-btn {
    background: #FF8E0A;
    color: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    height:40px;
    padding-top:9px;
}
.Merchants-sec td.text-color-red {
    color: #FF0000;
}
i.fa.fa-caret-square-o-down {
    color: #78909C;
    padding-right: 10px;
}
i.fa.fa-caret-square-o-up{
    color: #05C46B;
    padding-right: 10px;
}
.Merchants-sec td span .bg-gray{
    color: #888;
    padding-right: 10px;
}
.modal .category {
    display: inline-block;
    position: relative;
    border-radius: 5px;
}
.categoryModal-center {
    text-align: center;
    padding-top: 120px;
}
.modal .category .add-new-category {
    text-align: left;
}
.modal .category form.fashion .add-form.form-box {
    padding: 0;
    margin: 0;
    float: none;
    display: inline-block;
}
.modal .category {
    width: 400px;
    padding: 22px 25px;
}
.modal .category .add-new-category {
    text-align: left;
    margin-bottom: 40px;
}
.modal .category span.close-icon {
    float: right;
    width: 20px;
    text-align: center;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
}
.modal .category span.close-icon button.close {
    width: 100%;
    line-height: 20px;
    opacity: 1;
    font-size: 15px;
    text-align: center;
    padding-left: 1px;
    color: #ff8e0a;
}
.modal .category form.fashion .btn-primary.bg-color {
    margin-top: 35px;
}
.modal .category .add-new-category p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}
.Merchants-sec.invoice-tem .select-box{float: right; width: auto;}
.Merchants-sec.invoice-tem .why_us_image {
    padding: 15px;
    float: left;
    width: 100%;
    text-align: center;
}
.Merchants-sec.invoice-tem .why_us_image figure {
    width: 70%;
    display: inline-block;
}
.Merchants-sec.invoice-tem .why_us_image figure img {
    width: 100%;
}
.Merchants-sec.invoice-tem .invoice-sec {
    margin-top: 15px;
}
.notification .extrapad-wapper {
    padding: 0 170px;
}
@media(max-width:1024px){
    .notification .extrapad-wapper {
        padding: 0 20px;
    } 
}
.dashboard .bred-menu {
    padding: 18px 0;
    float: left;
    width: 100%;
}
.dashboard .bred-menu p {
    margin: 0;
}
.dashboard .bred-menu a {
    color: #000;
    margin: 0 6px;
    font-size: 13px;
    letter-spacing: .5px;
}
.cherry-blossom-wapper {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.my-account .account p a, .my-account .account p {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.my-account .account p a{margin: 0 8px;}
.my-account .account h3 {
    font-size: 28px;
    color: #000;
}
.smallcontainer {
    width: 900px;
    margin: 0 auto;
    display: block;
}
.boxshedow_details .user-img {
    width: 100%;
    float: left;
    position: relative;
}

.boxshedow_details .user-img figure {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 3px #FF8E0A66;
    border-radius: 100%;
    padding: 4px;
}
.boxshedow_details .user-img figure img {
    width: 100%;
}
.boxshedow_details .edit-profile {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
    border-radius: 100px;
    text-align: center;
}
.boxshedow_details .edit-profile img {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}
.boxshedow_details h4 {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    color: #000000DE;
}
.boxshedow_details  p {
    font-size: 16px;
    color: #000000DE;
    margin-top: 8px;
}
.boxshedow_details p i {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}
.boxshedow_details {
    padding: 15px 15px 30px;
    margin-bottom: 18px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 15%);
    float: left;
    width: 100%;
    border-radius: 2px;
}
.boxshedow_details h5 {
    color: #FF8E0A;
    font-size: 16px;
    letter-spacing: .2px;
    position: relative;
}
.boxshedow_details  .bankdetail-box {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.boxshedow_details .bankdetail-box p {
    font-size: 14px;
}
.boxshedow_details .bankdetail-box p span {
    min-width: 140px;
    display: inline-block;
    color: #FF8E0A;
    text-align: left;
}
.cherry-blossom-wapper .cherry-user {
    padding: 0 150px;
}
.boxshedow_remove .boxshedow_details {
    box-shadow: none;
}
.new-user .login-img img {
    width: 85px;
}
.form-box .form-group .form-control[type="password"] {
    background-image: url(../images/view-icon.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
.Merchants-sec .samll-container.footer-sec .row {
    margin: 0 -7.5px;
}
.Merchants-sec .samll-container.footer-sec .col-md-4 {
    padding: 0 7.5px;
}  
.col-md-12.head-box a img[alt="logo"] {
    width: auto !important;
}
.Merchants-sec .extrapad-wapper .select-box #name{
    height: 40px;
}
.Merchants-sec.merchantspg .extrapad-wapper h3 {
    margin-bottom: 0;
    padding-top: 4px;
}
.col-md-6.heading-full {
    padding-top: 3px;
}
.Merchants-sec td .delete-icon img {
    width: 20px;
}
.switch{margin-right: 4px;}
.Merchants-sec td  .delete-blck {
    padding: 0;
    color: rgb(0 0 0 / 65%);
}
.Merchants-sec td .delete-blck img {
    margin-right: 10px;
}
.Merchants-sec .export-btn.upload-newbtn {
    min-width: 180px;
    padding: 7px 10px 5px !important;
    height: auto;
}
.Merchants-sec.invoice-tem .invoice-sec .version-text {
    margin-bottom: 20px;
}
.Merchants-sec.invoice-tem .invoice-sec .version-text:last-child{margin-bottom:0;}
.dashboard-notifications {
    width: 100%;
    display: inline-block;
    padding: 15px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 24%);
    margin-bottom: 60px;
    border-radius: 2px;
    background: #fff;
}
.notification  .col-md-12.heading-sec {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}
.bankdetail-box.login-sec .form-group input.form-control.text-color {
    background: transparent;
}
.bankdetail-box.login-sec .form-group input.form-control[type=number]::-webkit-inner-spin-button, 
.bankdetail-box.login-sec .form-group input.form-control[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;  
}
.white-boxbg.dasboardbox {
    min-height: 1px;
}
.cherry-blossom-wapper.boxshedow_remove .bankdetail-box.login-sec {
    margin-top: 40px;
}